In [1]:
import pandas as pd
from datetime import datetime
import dateparser

In [31]:
def date_parser(date_str: str) -> datetime:
    parsed_date = dateparser.parse(date_str, settings={'TO_TIMEZONE': 'UTC'})
    return parsed_date

In [28]:
path = 'data/dailycheckins.csv'
cols = ['user', 'timestamp', 'hours', 'project']
df = pd.read_csv(
    path,
    usecols=cols,
    dtype={
        'user': str,
        'timestamp': str,
        'hours': float,
        'project': str,
    }
)
df

         user                timestamp  hours               project
0         ned  2019-09-27 00:00:00 UTC    8.0                bizdev
1      robert      09/27/2019 12:00 AM    8.0                bizdev
2         ned   26 сентября 2019 00:00    4.0                bizdev
3         ned  2019-09-26 00:00:00 UTC    1.0  cultureandmanagement
4         ned  2019-09-26 00:00:00 UTC    1.5            project-00
...       ...                      ...    ...                   ...
20495  robert  2010-10-04 00:00:00 UTC    2.0               transit
20496  robert  2010-10-04 00:00:00 UTC    2.0  cultureandmanagement
20497  robert     4 октября 2010 00:00    1.5                bizdev
20498  robert  2010-10-04 00:00:00 UTC    1.0               transit
20499  robert  2010-10-04 00:00:00 UTC    6.0                bizdev

[20500 rows x 4 columns]

In [32]:
converted_df = df
converted_df['timestamp'] = converted_df['timestamp'].map(date_parser)
converted_df

         user           timestamp  hours               project
0         ned 2019-09-26 17:00:00    8.0                bizdev
1      robert 2019-09-26 17:00:00    8.0                bizdev
2         ned 2019-09-25 17:00:00    4.0                bizdev
3         ned 2019-09-25 17:00:00    1.0  cultureandmanagement
4         ned 2019-09-25 17:00:00    1.5            project-00
...       ...                 ...    ...                   ...
20495  robert 2010-10-03 17:00:00    2.0               transit
20496  robert 2010-10-03 17:00:00    2.0  cultureandmanagement
20497  robert 2010-10-03 17:00:00    1.5                bizdev
20498  robert 2010-10-03 17:00:00    1.0               transit
20499  robert 2010-10-03 17:00:00    6.0                bizdev

[20495 rows x 4 columns]

In [30]:
converted_df.dropna(inplace=True)

In [35]:
dtype={
    'user': str,
    'timestamp': str,
    'hours': float,
    'project': str,
}
dtype_keys = [*dtype]
dtype_values = list(dtype.values())
print(dtype_keys, dtype_values)

['user', 'timestamp', 'hours', 'project'] [<class 'str'>, <class 'str'>, <class 'float'>, <class 'str'>]